* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.main-header {
    background-size: cover;
    height: 10;
}

html, .content {
    margin: 0;
    padding-top: 50;
}